
                  <div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header text-center">
                <h2>Masuk Gan</h2>
            </div>
            <div class="card-body">

                <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <br>
                        <Input type="email" class="form-control" name="email" ngDefaultControl ngModel  #emailInput="ngModel" required email/>
                        <span class *ngIf="emailInput.invalid">Please enter a valid Email.</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <br>
                        <Input type="password" class="form-control" name="password" ngDefaultControl ngModel #passwordInput="ngModel" required password/>
                
                        <span class ="invalid-feedback">Password tidak boleh kosong</span>
                    </div>
        
                    <button class="btn btn-primary btn-block">Login</button>
        
                </form>


            </div>
        </div>
        
    </div>
</div>
